html{
    background-color: #fff;
}

body{
    background-image: linear-gradient(
        to top, 
        transparent 90px,
        #fff 90px, 
        #fff 0
    );    
    margin: 0;
}

main{
    padding: 0px;
    width: 75vw;
    max-width: 600px;
    margin: auto;
}

footer{
    position: sticky;
    bottom: 0;
    z-index: -1;
    padding: 5px 0;

    background-color: blanchedalmond;
    text-align: center;
    height: 90px;
    overflow: hidden;
    box-shadow: inset 0px 13px 6px 0px #00000059;
}

footer > img{    
    width: 100px;
    position: absolute;
    top: 25px; 
    left: calc(50vw - 50px);
}